body {
    margin: -8px;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: bold;
    margin: 0;
}

h2 {
    font-weight: bolder;
}

a {
    color: #333;
    font-weight: 500;
    font-size: 18px;
    margin: 15px 0;
}

p {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-weight: 700;
    font-size: 50px;
    transform: rotate(-90deg);
    margin-top: 100%;
    text-align: center;
}

img {
    border: 2px solid #ddd;
    border-radius: 5%;
    padding: 3px;
}


button:focus {
    outline: none;
}

button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

button:disabled {
    background-color: grey; 
    border: 1px solid grey;
}

.changeTextA {
    font-weight: 700;
    font-size: 18px;
}

.changes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    white-space:nowrap;
}

.changeDiv {
    padding-right: 30px;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.container {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
}

.errorInput {
    border-style: solid;
    border-color: red;
}

.email {
    font-weight: 700;
    font-size: 18px;
}

.modalBtn {
    border-radius: 20px;
    border: 1px solid rgb(45, 129, 238);
    background-color: rgb(45, 129, 238);
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.menu {
    display: block;
    background-color: rgb(45, 129, 238);
    position: fixed;
    left: 0;
    right: 0;
    height: 42px;
    font-size: 12.5px;
    color: white;
    padding: 5px;
}

.menuBut {
    border: 1px solid black;
    background-color: rgb(222, 225, 230);
    color: black;
    font-size: 15px;
    padding: 5px;
}

.modalDialog {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 100;
    display: none;
    pointer-events: none;
}

.modalDialog:target {
    display: flex;
    pointer-events: auto;
}

.modalDialog > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 500px;
    position: relative;
    margin: 10% auto;
    padding: 10px 20px 20px 20px;
    border-radius: 30px;
    background: #fff;
}


.name {
    font-weight: bold;
    position: relative;
    left: 10%;
    font-size: 30px;
    outline: none;
    background-color: rgb(45, 129, 238);
}

.nicknameField {
    display: flex;
}

.nickname {
    color: green;
}

.profile {
    margin: 52px 22% 10% 22%;
    background: #f6f5f7;
    display: flex;
    height: 75vh;
    width: 71,5%;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    justify-content: flex-start;
    align-items: stretch;
    border-style: solid;
    border-color: cornflowerblue;
    padding: 10px 5px;
}

.pfImg {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    width: 22%;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
}

.settings {
    border: rgb(45, 129, 238);
    z-index: 100;
    background-color: rgb(45, 129, 238);
    color: white;
    font-size: 30px;
    position: relative;
    left: 63%;
    padding-top: 6px;
}

.window {
    display: none;
    flex-direction: column;
    color: black;
    padding: 0;
    position: absolute;
    left: 73.5%;
    z-index: 1;
    top: 5%;
    height: 17%;
    width: 11%;
}

#changeMailErr {
    display: none;
    background-color: #f6f5f7;
    color: red;
}

#changePwdErr {
    display: none;
    background-color: #f6f5f7;
    color: red;
}

#deleteAccErr {
	display: none;
}

#verificationErr {
    color: red;
}

#verErrDiv {
	display: none;
}

#resendMailErr {
	display: none;
    background-color: #f6f5f7;
    color: red;
}

#resetPwdErr {
	display: none;
    background-color: #f6f5f7;
    color: red;
}